body
{
	font-family: Arial;
	font-size: 15px; 
	line-height: 1.5;
	padding:0;
	margin:0;
	background-color:#f2f2f2;
}
/*global*/
.container
{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
.button
{
	color: #ffffff;
	font-weight: bold;
	background-color: #ff9933;
	text-decoration: none;
	padding: 5px 5px 5px 5px;
}
/* header */
header
{
	background: #000000;
	color: white;
	padding-top: 30px;
	min-height: 20px;
}
header .header h2
{
	margin:0;
	width: 200px;
	border-style: groove;
	text-align: center;
	padding: 5px;
}
header a
{
	padding: 10px;
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
}
header ul
{
	margin:0;
	padding:0;
}
header li
{
	float:left;
	display:inline;
}
header li a:hover
{
	border-top: 1px groove #ffffff;
	border-bottom: 1px groove #ffffff;

}
header .header
{
	float: left;
	margin-bottom: 20px;
}
header nav
{
	float: right;
	margin-top: 10px;
}
/* showcase */
.showcase
{	
	min-height: 400px;
	background: url(../image/building.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	color: #ffffff;
}
.showcase h1
{
	margin-top: 70px;
	font-size: 38px;
	margin-bottom: 10px;
}
.showcase h3
{
	color:  #ffffff;
	font-size: 30px;
}
.showcase h3:before
{
	display: inline-block;
	margin: 0 20px 15px 0;
	height: 2px;
	content: " ";
	background-color: #ffffff;
	width: 450px;
}
.showcase h3:after 
{
	display: inline-block;
	margin: 0 0 15px 20px;
	height: 2px;
	content: " ";
	background-color: #ffffff;
	width: 450px;
}
.showcase p
{
	font-size: 15px;
	font-weight: bold;
}
/* content */
.spacing
{
	padding-top: 50px;
	padding-bottom: 50px;
}
.content
{
	background-color: #ffffff;
}
.content img
{
	margin: 15px;
	float: right;
	width: 350px;
	height: 200px
}
.text
{
	margin: 0;
	padding: 0;
	width: 60%;
	float: left;
}
.content h2
{
	color: #262626;
	margin-bottom: 15px;
	position: relative;
}
.content h2:before
{
	position: absolute;
	height: 5px;
	bottom: -20px;
	content: " ";
	background-color: #ffbf00;
	width: 60px;
}
.content h2:after 
{
	position: absolute;
	height: 5px;
	bottom: -20px;
	left: 60px;
	margin: 0 auto;
	content: " ";
	background-color: #ffe699;
	width: 200px;
}
.content p
{
	padding-top: 25px;
	color: #8c8c8c;
}
/* article */
.article
{
	background-color: #f2f2f2;
}
.sections
{
	width: 33%;
	float: left;
}
.article h2
{
	color: #262626;
	padding-bottom: 15px;
	margin-bottom: 10px;
	position: relative;
}
.article h2:before
{
	position: absolute;
	height: 5px;
	bottom: -2px;
	content: " ";
	background-color: #ffbf00;
	width: 60px;
}
.article h2:after 
{
	position: absolute;
	height: 5px;
	bottom: -2px;
	left: 60px;
	margin: 0 auto;
	content: " ";
	background-color: #ffe699;
	width: 100px;
}
.img1
{
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 90px;
	float: left;
}
.text1
{
	margin: 0;
	padding-top: 10px;
	width: 70%;
	float: right;

}
.heading1 
{
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 15px;
}
.para1
{
	padding: 0;
	margin-right: 5px;
	color: #8c8c8c;
}
/* bottom */
.bottom
{
	background: #ffffff;
}
.spacing1
{

	width: 50%;
	float: left;
	overflow: hidden;
}
.head2
{
	color: #262626;
	padding: 10px;
	position: relative;
}
.bottom .head2:before
{
	position: absolute;
	height: 5px;
	bottom: -2px;
	content: " ";
	background-color: #ffbf00;
	width: 60px;
}
.bottom h2:after 
{
	position: absolute;
	height: 5px;
	bottom: -2px;
	left: 60px;
	margin: 0 auto;
	content: " ";
	background-color: #ffe699;
	width: 150px;
}
.heading2
{
	font-weight: bold; 
}
.para2
{
	color: #8c8c8c;
	margin-right: 10px;
}
.img2
{
	padding-top: 15px;
	padding-bottom: 40px;
	width: 80px;
	float: left;
}

.text2
{
	margin: 0;
	padding: 0;
	width: 80%;
	float: right;
}
.text3
{
	margin:0;
	padding: 0;
	width: 60%;
	float: right;
}
.img3
{
	width: 200px;
	height: 100px;
	padding-top: 25px;
	padding-bottom: 15px;
	float: left;
}
/* banner */
.banner
{
	min-height: 300px;
	background: url(../image/keyboard.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	color: #ffffff;
}
.banner h3
{
	padding-top: 50px;
	color:  #ffbf00;
	font-size: 25px;
}
.banner h3:before
{
	display: inline-block;
	margin: 0 20px 10px 0;
	height: 3px;
	content: " ";
	background-color: #ffbf00;
	width: 450px;
}
.banner h3:after 
{
	display: inline-block;
	margin: 0 0 10px 20px;
	height: 3px;
	content: " ";
	background-color: #ffbf00;
	width: 450px;
}

.banner h1
{
	font-size: 38px;
	margin-bottom: 10px;
}
.banner p
{
	font-size: 15px;
	font-weight: bold;
}
.banner p:before
{
	display: inline-block;
	margin: 0 20px 5px 0;
	height: 1px;
	content: " ";
	background-color: #ffffff;
	width: 140px;
}
.banner p:after 
{
	display: inline-block;
	margin: 0 0 5px 20px;
	height: 1px;
	content: " ";
	background-color: #ffffff;
	width: 140px;
}
/* footer */
footer
{
	background: #262626;
	color: #ffffff;	
}
footer p
{
	float: left;
}
footer img
{
	float: right;
}


